:root{
	--encabezado: rgb(71, 130, 185);
	--sub_encabezado: rgb(227, 232, 255);
	--recreo: rgb(212, 211, 211);
	--hora: rgb(167, 227, 255);
	--recordatorio: rgb(47, 192, 202);
	--resaltado: rgb(187, 13, 13);
	--recordarles: rgb(155, 209, 148);
}